version: '3.4'
services:
  typesense:
    image: typesense/typesense:29.0
    restart: on-failure
    ports:
      - '8108:8108'
    volumes:
      - ./typesense-data:/data
    command: '--data-dir /data --api-key=xyz --enable-cors'

  typesense-dashboard:
    image: ghcr.io/bfritscher/typesense-dashboard:latest
    restart: on-failure
    ports:
      - '8109:80'
