.mdx-editor {
  font-family: inherit;
}

.mdx-editor div[data-lexical-editor="true"] {
  padding: 0;
}

.mdx-editor-toolbar {
  position: fixed;
  top: auto;
  bottom: 1em;
  right: 2em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
