@tailwind components;
@tailwind utilities;

@import "@vidstack/react/player/styles/base.css";
@import "@vidstack/react/player/styles/default/theme.css";
@import "@vidstack/react/player/styles/default/captions.css";
@import "@vidstack/react/player/styles/default/layouts/video.css";
