name: Build and Deploy (production)

on:
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      rebuild-index:
        description: 'Rebuild search index'
        required: true
        default: false
        type: boolean

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup bun.sh environment
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest

      - uses: pnpm/action-setup@v3
        with:
          version: 9
          run_install: |
            - recursive: true
              args: [--frozen-lockfile, --strict-peer-dependencies]

      - name: Get pnpm store directory
        shell: bash
        run: |
          echo "STORE_PATH=$(pnpm store path --silent)" >> $GITHUB_ENV

      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: 24
          cache: "pnpm"

      - name: Build HSS
        working-directory: packages/headless-static-site
        run: pnpm run build

      - name: Link HSS CLI
        run: pnpm install --frozen-lockfile

      - uses: actions/cache@v4
        with:
          path: |
            ${{ env.STORE_PATH }}
            ${{ github.workspace }}/apps/docs/.next/cache
            ${{ github.workspace }}/apps/static-site/.next/cache
          key: ${{ runner.os }}-iiif-cache-${{ hashFiles('**/pnpm-lock.yaml') }}--${{ hashFiles('app/static-site/src/**/*.ts', 'app/static-site/src/**/*.tsx') }}
          restore-keys: |
            ${{ runner.os }}-iiif-cache-${{ hashFiles('**/pnpm-lock.yaml') }}

      - name: IIIF Netlify deploy (production)
        id: netlify_iiif
        working-directory: apps/iiif
        run: |
          # First build can be removed after a build issue has been resolved!
          pnpm run build
          deploy_json=$(npx netlify-cli@23.9.5 deploy \
            --build \
            --prod \
            --json \
            --message="Deploy from GitHub Actions")
          preview_url=$(echo $deploy_json | jq -r '.deploy_url')
          echo "preview_url=$preview_url" >> $GITHUB_OUTPUT
        env:
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_IIIF_SITE_ID }}
          IIIF_PREVIEW_URL: https://heritage.tudelft.nl/iiif

      - name: Static site Netlify deploy (production)
        id: netlify_static_site
        run: |
          deploy_json=$(npx netlify-cli@23.9.5 deploy \
            --build \
            --json \
            --prod \
            --filter=static-site \
            --message="Deploy from GitHub Actions")
          preview_url=$(echo $deploy_json | jq -r '.deploy_url')
          echo "preview_url=$preview_url" >> $GITHUB_OUTPUT
        env:
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
          # This is a search-only API key (public)
          NEXT_PUBLIC_IIIF_URL: https://heritage.tudelft.nl/iiif
          NEXT_PUBLIC_TYPESENSE_API_KEY: 8EOitKCMTbxUKPZNqUEoQS9M2RGvpkZS
          NEXT_PUBLIC_TYPESENSE_HOST: 63flhve71t2un5xgp.a1.typesense.net
          NEXT_PUBLIC_TYPESENSE_PORT: 443
          NEXT_PUBLIC_TYPESENSE_PROTOCOL: https
          NEXT_PUBLIC_TYPESENSE_COLLECTION_NAME: production-manifests

      - name: Build IIIF Search
        working-directory: apps/static-site
        run: |
          bun run ./typesense-update.ts ${{ github.event.inputs.rebuild-index && '--recreate-index' || '' }}
        env:
          TYPESENSE_API_KEY: ${{ secrets.TYPESENSE_ADMIN_API_KEY }}
          TYPESENSE_HOST: 63flhve71t2un5xgp.a1.typesense.net
          TYPESENSE_PORT: 443
          TYPESENSE_PROTOCOL: https
          TYPESENSE_COLLECTION_NAME: production-manifests
